// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --color-gold-soft: #b5ab7c;
  --color-sage-gold: #c2c294;
  --color-black-warm: #0a0700;
  --color-gray-warm: #7d7772;
  --color-white-soft: #f8f8f8;

  --color-body: #f8f8f8;
  --color-header: #0a0700;
  --color-footer: #0a0700;
  --color-card: #c2c294;
  --color-text: #0a0700;
  --color-text-light: #f8f8f8;
  --color-link: #b5ab7c;
}